<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css'/>
  </head>
  <body>
    
    
    <section class="row">
        <div class="col-md-5 col-sm-12 center"> 
          <a href="/"><img class="logo" src="images/footlocker.png" height="100" width="200"></a>
        </div>
      
      <div class="col-md-7 col-sm-12"> 
        <a href="/" class="home">Home</a>
        <a href="/" class="home">Product</a>
        <a href="/" class="home">About</a>
        <a href="/" class="home">Contact Us</a>
      </div>
    </section>


  <section class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <p>{{{body}}}</p>
    </div>
  </section> 

  <section class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <img src="images/banner.png">
    </div>
  </section>

    
    <section class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="products">
          <p class="featured">View our 2 featured products!</p>
        <p><a href="/user1">Jordan 13 (Red)</a></p>
        <p><a href="/user2">Nike 95' (Black)</a></p>
        </div>
        </div>
    </section>

    <section class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="images/bball1.png">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="images/running1.png">
    </div>
  </section>


<section class="row">

     <div class="col-md-5 col-sm-12 center"> 
        <a href="/"><img class="logo" src="images/footlocker.png" height="100" width="200"></a>
      </div>
      
      <div class="col-md-7 col-sm-12"> 
        <a href="/" class="home">Home</a>
        <a href="/" class="home">Product</a>
        <a href="/" class="home">About</a>
        <a href="/" class="home">Contact Us</a>
      </div>

    </section>

  
  </body>
</html>
