body {
    color: black;
}


h1 {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.home {
    color: red;
    font-size: 25px;
    padding: 10px 30px 0px 30px;
}

.logo {
    padding-left: 30px;
    margin-top: 15px;
}

p {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

h4 {
    text-align: center;
}

button {
    text-align: center;
    align-content: center;
}

div.col-md-7.col-sm-12 {
    margin-top: 90px;
}

div.col-lg-6.text-center {
    margin-top: 150px;
}